# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:

1.First get the webpage https://www.naukri.com/

2.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the

location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\chromedriver.exe")
driver

In [4]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
#entering the designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div[1]/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
#Lets exetract all web elements having job tittles
job_title=[]
tittle_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tittle_tags:
    job_title.append(i.text.split("[]"))
job_title=job_title[0:10]
job_title

[['Data Analyst'],
 ['Data Analyst'],
 ['Data Analyst'],
 ['Data Analyst - FinTech'],
 ['Data Analyst - Insurance'],
 ['Data Analyst III'],
 ['Data Analyst'],
 ['Data Analyst'],
 ['HCL is hiring Data Analyst - Chennai'],
 ['Data Analyst']]

In [17]:
# Lets exetract all web elements having job location
location = []
locn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in locn_tags:
    location.append(i.text)
location=location[0:10]
location

['Pune',
 'Mumbai (All Areas)',
 'Mumbai(Vikhroli), Mumbai (All Areas)',
 'Noida, Ghaziabad, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Mumbai',
 'Bangalore/Bengaluru',
 'Mumbai (All Areas)(Indira Nagar +1)',
 'Hyderabad/Secunderabad(Nanakramguda)',
 'Chennai',
 'Bangalore/Bengaluru']

In [18]:
#Lets exetract all web elements having Company Name
company_name=[]
tittle_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in tittle_tag:
    company_name.append(i.text.split("[]"))
company_name=company_name[0:10]
company_name

[['Randstad India'],
 ['ICICI Lombard'],
 ['Cohire Solutions'],
 ['Primo Hiring'],
 ['Serving Skill'],
 ['Walmart'],
 ['Gosource Digihub'],
 ['The Dollar Business'],
 ['HCLTech'],
 ['Clarivate']]

In [11]:
#Lets exetract all web elements having experience_required.
exp_req=[]
tittle_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in tittle_tag:
    exp_req.append(i.text.split("[]"))
exp_req=exp_req[0:10]
exp_req

[['3-7 Yrs'],
 ['2-4 Yrs'],
 ['1-5 Yrs'],
 ['3-6 Yrs'],
 ['2-6 Yrs'],
 ['1-4 Yrs'],
 ['6-11 Yrs'],
 ['2-3 Yrs'],
 ['2-3 Yrs'],
 ['2-7 Yrs']]

In [19]:
#Lets Create Data Frame
import pandas as pd

data_analyst=pd.DataFrame()
data_analyst['Job Tittle']=job_title
data_analyst['Job Location']=location
data_analyst['Company Name']=company_name
data_analyst['Experiance Required']=exp_req
data_analyst

,Job Tittle,Job Location,Company Name,Experiance Required
0,[Data Analyst],Pune,[Randstad India],[3-7 Yrs]
1,[Data Analyst],Mumbai (All Areas),[ICICI Lombard],[2-4 Yrs]
2,[Data Analyst],"Mumbai(Vikhroli), Mumbai (All Areas)",[Cohire Solutions],[1-5 Yrs]
3,[Data Analyst - FinTech],"Noida, Ghaziabad, Faridabad, Gurgaon/Gurugram,...",[Primo Hiring],[3-6 Yrs]
4,[Data Analyst - Insurance],Mumbai,[Serving Skill],[2-6 Yrs]
5,[Data Analyst III],Bangalore/Bengaluru,[Walmart],[1-4 Yrs]
6,[Data Analyst],Mumbai (All Areas)(Indira Nagar +1),[Gosource Digihub],[6-11 Yrs]
7,[Data Analyst],Hyderabad/Secunderabad(Nanakramguda),[The Dollar Business],[2-3 Yrs]
8,[HCL is hiring Data Analyst - Chennai],Chennai,[HCLTech],[2-3 Yrs]
9,[Data Analyst],Bangalore/Bengaluru,[Clarivate],[2-7 Yrs]

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1.First get the webpage https://www.naukri.com/

2.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

In [13]:
url="https://www.naukri.com/"
driver.get(url)

In [14]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[1]/div[1]/div/input")
location.send_keys('Bangalore')

In [22]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

# Extracting Job Titles

In [27]:
#Lets exetract all web elements having job tittles
job_title=[]
tittle_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tittle_tags:
    job_title.append(i.text.split("[]"))
job_title=job_title[0:10]
job_title

[['Data Science Professional - IBM SPSS Statistics module'],
 ['Data Science Specialist'],
 ['Analystics & Modeling Specialist'],
 ['Senior data scientist'],
 ['Data Scientist_NLP'],
 ['Data Scientist'],
 ['Manager - Innovations Hub - Machine Learning'],
 ['Machine Learning (AI) Architect'],
 ['Data Scientist'],
 ['Staff Data Scientist']]

In [29]:
# Lets exetract all web elements having job location
location = []
locn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in locn_tags:
    location.append(i.text)
location=location[0:10]
location

['Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru']

In [30]:
#Lets exetract all web elements having Company Name
company_name=[]
tittle_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in tittle_tag:
    company_name.append(i.text.split("[]"))
company_name=company_name[0:10]
company_name

[['Hexaware Technologies'],
 ['Accenture'],
 ['Accenture'],
 ['Fractal Analytics'],
 ['Fractal Analytics'],
 ['Fractal Analytics'],
 ['PwC'],
 ['Persistent'],
 ['Cognizant'],
 ['Baker Hughes']]

In [31]:
#Lets make DataFrame
data_scientist=pd.DataFrame({'Job Title':job_title,"Job Location":location,"Company Name":company_name})
data_scientist

,Job Title,Job Location,Company Name
0,[Data Science Professional - IBM SPSS Statisti...,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",[Hexaware Technologies]
1,[Data Science Specialist],"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",[Accenture]
2,[Analystics & Modeling Specialist],"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",[Accenture]
3,[Senior data scientist],"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",[Fractal Analytics]
4,[Data Scientist_NLP],"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",[Fractal Analytics]
5,[Data Scientist],"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",[Fractal Analytics]
6,[Manager - Innovations Hub - Machine Learning],"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",[PwC]
7,[Machine Learning (AI) Architect],"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",[Persistent]
8,[Data Scientist],"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",[Cognizant]
9,[Staff Data Scientist],"Mumbai, Bangalore/Bengaluru",[Baker Hughes]

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1.first get the webpage https://www.naukri.com/

2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.

3.Then click the search button.

4.Then apply the location filter and salary filter by checking the respective boxes

5.Then scrape the data for the first 10 jobs results you get.

6.Finally create a dataframe of the scraped data

In [32]:
url="https://www.naukri.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [33]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [34]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [37]:
#Clicking using absolute xpath function
filter_loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[1]/div[1]/div/input")
filter_loc.click()

In [39]:
#Clicking using absolute xpath function
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[1]/span")
salary_filter.click()

In [40]:
#Lets extract all web elements having Job Title
job_title=[]
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag:
    job_title.append(i.text.split(","))
job_title=job_title[0:9]
job_title

[['Artificial Intelligent Engineer/DataScientist at KualaLumpur Malaysia'],
 ['Lead Datascientist'],
 ['DataScientist'],
 ['Python / Datascientist'],
 ['DataScientist'],
 ['Data Scientist'],
 ['Lead Consultant'],
 ['Senior Data Scientist'],
 ['Data Engineer - Smart Building Analytics']]

In [41]:
# Lets exetract all web elements having job location
location = []
locn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in locn_tags:
    location.append(i.text.split("[]"))
location=location[0:9]
location

[['Malaysia'],
 ['Chennai'],
 ['Hyderabad/Secunderabad'],
 ['Kochi/Cochin, Hyderabad/Secunderabad'],
 ['Chennai'],
 ['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Hyderabad/Secunderabad, Bangalore/Bengaluru'],
 ['Pune']]

In [42]:
#Lets extract all web elements having Company Name
company_name=[]
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag:
    company_name.append(i.text.split(","))
company_name=company_name[0:9]
company_name

[['Artificial Intelligent Engineer/DataScientist at KualaLumpur Malaysia'],
 ['Lead Datascientist'],
 ['DataScientist'],
 ['Python / Datascientist'],
 ['DataScientist'],
 ['Data Scientist'],
 ['Lead Consultant'],
 ['Senior Data Scientist'],
 ['Data Engineer - Smart Building Analytics']]

In [43]:
#Lets extract all web elements having Company Name
exp_req=[]
title_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in title_tag:
    exp_req.append(i.text.split(","))
exp_req=exp_req[0:9]
exp_req

[['5-10 Yrs'],
 ['5-10 Yrs'],
 ['8-11 Yrs'],
 ['3-5 Yrs'],
 ['4-8 Yrs'],
 ['5-10 Yrs'],
 ['6-8 Yrs'],
 ['15-18 Yrs'],
 ['2-5 Yrs']]

In [44]:
import pandas as pd
naukri_ds=pd.DataFrame({"Job Title":job_title,"Job Location":location,"Company Name":company_name,"Experiance Required":exp_req})

In [45]:
naukri_ds

,Job Title,Job Location,Company Name,Experiance Required
0,[Artificial Intelligent Engineer/DataScientist...,[Malaysia],[Artificial Intelligent Engineer/DataScientist...,[5-10 Yrs]
1,[Lead Datascientist],[Chennai],[Lead Datascientist],[5-10 Yrs]
2,[DataScientist],[Hyderabad/Secunderabad],[DataScientist],[8-11 Yrs]
3,[Python / Datascientist],"[Kochi/Cochin, Hyderabad/Secunderabad]",[Python / Datascientist],[3-5 Yrs]
4,[DataScientist],[Chennai],[DataScientist],[4-8 Yrs]
5,[Data Scientist],"[Hyderabad/Secunderabad, Chennai, Bangalore/Be...",[Data Scientist],[5-10 Yrs]
6,[Lead Consultant],[Bangalore/Bengaluru],[Lead Consultant],[6-8 Yrs]
7,[Senior Data Scientist],"[Hyderabad/Secunderabad, Bangalore/Bengaluru]",[Senior Data Scientist],[15-18 Yrs]
8,[Data Engineer - Smart Building Analytics],[Pune],[Data Engineer - Smart Building Analytics],[2-5 Yrs]

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price

To scrape the data you have to go through following steps:

1.Go to Flipkart webpage by url : https://www.flipkart.com/

2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.

5.Now scrape data from this page as usual

6.Repeat this until you get data for 100 sunglasses.

In [46]:
url="https://www.flipkart.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [47]:
#Finding the web element for search "Sunglass"
search_job=driver.find_element(By.CLASS_NAME,"_3704LK")
search_job.send_keys("sunglasses")

In [49]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.CLASS_NAME,"_34RNph")
search_btn.click()

In [50]:
#Lets extract all web elements having 100 Sunglass Brand
brands=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in title_tag:
        brands.append(i.text.split(","))
brands=brands[0:100]

In [51]:
#Lets extract all web elements having 100 Sunglass Product Discription
prod_des=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in title_tag:
        prod_des.append(i.text.split(","))
prod_des=prod_des[0:100]

In [52]:
#Lets extract all web elements having 100 Sunglass Price
price=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in title_tag:
        price.append(i.text.split(" "))
price=price[0:100]

In [53]:
#Lets make datafram
import pandas as pd
sunglass=pd.DataFrame({"Sunglass Brands":brands,"Production Descripion":prod_des,"Sunglass Price":price})
sunglass

,Sunglass Brands,Production Descripion,Sunglass Price
0,[Dervin],[UV Protection Wayfarer Sunglasses (Free Size)],[₹216]
1,[Silver Kartz],[UV Protection Wayfarer Sunglasses (Free Size)],[₹232]
2,[SRPM],[UV Protection Wayfarer Sunglasses (50)],[₹149]
3,[Elligator],"[UV Protection Cat-eye, Retro Square, Oval, ...",[₹149]
4,[Elligator],[UV Protection Wayfarer Sunglasses (53)],[₹149]
...,...,...,...
95,[Dervin],[UV Protection Wayfarer Sunglasses (Free Size)],[₹234]
96,[Fastrack],"[Gradient, UV Protection Wayfarer Sunglasses ...",[₹489]
97,[Fastrack],[UV Protection Aviator Sunglasses (Free Size)],[₹549]
98,[Fastrack],[UV Protection Aviator Sunglasses (58)],[₹909]
99,[Resist],[Polarized Wayfarer Sunglasses (Free Size)],"[₹1,399]"

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:

1.Rating

2.Review summary

3.Full review

4.You have to scrape this data for first 100 reviews.

In [54]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [55]:
#Clicking using absolute xpath function
rating_review=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div")
rating_review.click()

In [56]:
Rating = []
start=0
end=11
for page in range(start,end,1):
    rating = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
    
    time.sleep(3)
Rating=Rating[0:100]
len(Rating)

100

In [57]:
Review = []
start=0
end=11
for page in range(end,start,-1):
    review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in review:
        Review.append(i.text)
    
    time.sleep(3)
Review=Review[0:100]
len(Review)

100

In [58]:
Full_review = []
start=0
end=11
for page in range(start,end,1):
    review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in review:
        Full_review.append(i.text)
    
    
Full_review=Full_review[0:100]
len(Full_review)

100

In [59]:
#Lets Make Data Frame
import pandas as pd
i_phone=pd.DataFrame({"I Phone 11 Rating":Rating,"I Phone Review":Review,"Full Review":Full_review})
i_phone

,I Phone 11 Rating,I Phone Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

1.Brand

2.Product Description

3.Price

As shown in the below image, you have to scrape the tick marked attributes

In [60]:
url="https://www.flipkart.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [61]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.CLASS_NAME,"_3704LK")
search_job.send_keys("sneakers")

In [62]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [63]:
#Lets find 100 Brands name
brand=[]

start=0
end=3

                         
for page in range(start,end):
    Brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in Brand:
        brand.append(i.text)
brand=brand[0:100]
len(brand)

100

In [64]:
price=[]
start=0
end=3
for page in range(start,3):
    Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in Price:
        price.append(i.text)
price=price[0:100]
len(price)

100

In [65]:
prod_des=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in title_tag:
        prod_des.append(i.text)
prod_des=prod_des[0:100]
len(prod_des)

100

In [66]:
#Lets Make DataFrame
import pandas as pd
sneaker=pd.DataFrame({"Sneaker Brank":brand,"Sneaker Price":price,"Sneaker Description":prod_des})
print(sneaker.shape)
sneaker.head()

(100, 3)

,Sneaker Brank,Sneaker Price,Sneaker Description
0,HOTSTYLE,₹269,Sneakers For Men
1,RapidBox,₹571,Sneakers For Men
2,SFR,₹299,Sneakers For Men
3,aadi,₹399,Synthetic Leather |Lightweight|Comfort|Summer|...
4,AMICO,₹387,Sneakers For Men

# Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

1.Title

2.Ratings

3.Price

In [67]:
url="https://www.amazon.in/"
driver.get(url)

In [68]:
#Finding the web element for search "laptop"
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

In [69]:
#Clicking using absolute xpath function
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [70]:
#Filter i7 processor
pros=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[13]/span/a/span")
pros.click()

In [71]:
#Lets extract all web elements having Laptop Ratings Done by customer
title=[]
Title=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in Title:
    title.append(i.text)
title=title[0:10]
len(title)

10

In [72]:
#Lets extract all web elements having Ratings given by Customer
ratings=[]
Rating=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in Rating:
    ratings.append(i.text)
ratings=ratings[0:10]
len(ratings)

10

In [73]:
#Lets extract all web elements having Price
price=[]
Price=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in Price:
    price.append(i.text.split("[]"))
price=price[0:10]
len(price)

10

In [74]:
#Lets Make DataFrame
import pandas as pd
laptop=pd.DataFrame({"Laptop Title":title,"Laptop Ratings":ratings,"Laptop Price":price})
laptop

,Laptop Title,Laptop Ratings,Laptop Price
0,ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...,3.3,"[1,59,990]"
1,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...",3.5,"[88,750]"
2,"Dell G15-5520 Gaming Laptop, Intel i9-12900H, ...",4.0,"[1,38,990]"
3,HP Omen 12th Gen Intel Core i9-12900HX 17.3 in...,3.0,"[2,96,000]"
4,"MSI Raider GE78HX, Intel 13th Gen. i9-13980HX,...",2.0,"[5,47,563]"
5,"MSI Titan GT77 HX, Intel 13th Gen. i9-13980HX,...",3.8,"[6,57,036]"
6,"Dell New Alienware x15 R2 Gaming Laptop, Intel...",4.1,"[3,56,600]"
7,"ASUS ROG Zephyrus M16 (2023), Intel Core i9 13...",3.9,"[3,64,990]"
8,Lenovo Thinkpad P15v 12th Gen Intel Core i9 15...,3.2,"[2,45,990]"
9,Acer Predator Helios 500 Gaming Laptop (11Th G...,5.0,"[4,38,383]"

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:

First get the webpage https://www.azquotes.com/

Click on Top Quotes

Than scrap

a) Quote

b) Author

c)Type of Quote

In [4]:
url="https://www.azquotes.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [5]:
#Clicking using absolute xpath function
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/h1")
top_quotes.click()

In [16]:
#Lets find 1000 Quotes
quote=[]

start=0
end=1000

                         
for page in range(start,end):
    Quote=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/h1")
    
    for i in Quote:
        quote.append(i.text)
    

print(len(quote))

1000

In [17]:
#Lets find author name
author=[]

start=0
end=1000

                         
for page in range(start,end):
    Author=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[1]/div/div[1]/a")
    
    for i in Author:
        author.append(i.text)
    
    
    
print(len(author))

1000

In [13]:
#Lets find Typeof Quote
top=[]

start=0
end=1000

                         
for page in range(start,end):
    TOP=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[1]/div/p/a[2]")
    
    for i in TOP:
        top.append(i.text)
    
    
print(len(top))

1000

In [18]:
#Lets MakeDataFrame
import pandas as pd
thousand_quote=pd.DataFrame({"Best Quote":quote,"Best Author":author,"Topic of Quote":top})
thousand_quote

,Best Quote,Best Author,Topic of Quote
0,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
1,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
2,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
3,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
4,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
...,...,...,...
995,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
996,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
997,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
998,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...
999,Top 1000 Quotes Of All Time,Michael Porter,The essence of strategy is choosing what not t...

# Q9: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:

1.First get the webpage https://www.jagranjosh.com/

2.Then You have to click on the GK option

3.Then click on the List of all Prime Ministers of India

4.Then scrap the mentioned data and make the DataFrame.

In [5]:
url="https://www.jagranjosh.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [7]:
#Clicking using absolute xpath function
top_quotes=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
top_quotes.click()

In [8]:
#Clicking using absolute xpath function and selecting list of prime mininster in india
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
                            
top_quotes.click()

In [9]:
#Lets find PM name
pm_name=[]
Names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for name in Names:

    pm_name.append(name.text)
len(pm_name)

18

In [13]:
#Lets find born date and dead date
born_dead=[]
Born_dead=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[3]/p")
for i in Born_dead:
    born_dead.append(i.text)
born_dead
len(born_dead)

18

In [10]:
#Lets find term of office
tof=[]
term_office=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[4]/p[1]")
for i in term_office:
    tof.append(i.text)

len(tof)

18

In [11]:
#Lets find Remarks
remark=[]
Remark=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[5]/p")
for i in Remark:
    remark.append(i.text)
len(remark)

18

In [14]:
#Lets make dataframe
import pandas as pd
all_pm=pd.DataFrame({"All PM name of india":pm_name,"Born-Dead":born_dead,"Term of office(Date)":tof,"Remark":remark})

In [15]:
all_pm

,All PM name of india,Born-Dead,Term of office(Date),Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Q10: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/
This task will be done in following steps:

1.First get the webpage https://www.motor1.com/

2.Then You have to click on the List option from Dropdown menu on left side.

3.Then click on 50 most expensive cars in the world..

4.Then scrap the mentioned data and make the dataframe

In [5]:
url="https://www.motor1.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [6]:
#Clicking using absolute xpath function
three_dots=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
three_dots.click()

In [9]:
#Clicking using absolute xpath function
list_option=driver.find_element(By.XPATH,"/html/body/div[3]/div[5]/h1")
list_option.click()

In [8]:
#Clicking using absolute xpath function
most_expensive_car=driver.find_element(By.XPATH,"/html/body/div[3]/div[5]/h1")
most_expensive_car.click()

In [19]:
#Lets Find Car Name
car_name=[]
Car_Name=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in Car_Name:
    car_name.append(i.text)





car_name=car_name[0:50]
len(car_name)

50

In [23]:
#Lets Find Car Price/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong
car_price=[]

Car_Price=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]")
for i in Car_Price:
    car_price.append(i.text)
car_price=car_name[0:50]    
len(car_price)

50

In [24]:
#Lets Make DataFrame
import pandas as pd
best_car=pd.DataFrame({"Car Name":car_name,"Car Price":car_price})
print(best_car.shape)
best_car.head()

(50, 2)

            Car Name          Car Price
0      De Tomaso P72      De Tomaso P72
1  Ferrari LaFerrari  Ferrari LaFerrari
2      Pagani Huayra      Pagani Huayra
3       McLaren Elva       McLaren Elva
4        Czinger 21C        Czinger 21C